.update-nag {
    display: none;
}
#message{
    display: none;
}
#messageSuccessAddSlide{
    display: none;
}
#errMessage{
    display: none;
}
#slide_image {
    visibility: hidden;
}
.slide_image_style {
    background: rgb(241, 255, 241);
    display: block;
    padding: 25px 5px;
    border: 2px dotted rgba(14, 109, 131, 0.25);
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 335px;
}

.green_text_color {
    color: #0aa055;
}

.image-upload-background{
    width: 80px;
}
#loading{
    display: none;
}

.enable {
    background: rgba(0, 255, 104, 0.67);
    text-align: center;
}
.disable {
    color: rgb(255, 255, 255);
    background: #a0a5aa;
    text-align: center;
    vertical-align: middle;
}

.add-slide {
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.message-no-slide{
    background: #fff;
    padding: 15px;
}

#update-slide-category{
    margin-bottom:15px;
}

    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }